  @media (max-width: 768px) {
    #home img {
      width: 120px;
    }

    header nav ul {
      flex-direction: column;
      gap: 0.5em;
    }
    table,
    th,
    td {
      font-size: 0.9em;
    }
  
    #home img {
      width: 100px;
    }
  }
  
  @media (max-width: 480px) {
    #home img {
      width: 100px;
    }
  }


  /* For large screens, show the menu */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* Hide links initially on small screens */
  }
  
  .hamburger {
    display: block; /* Show hamburger icon */
  }

  .nav-links.active {
    display: flex; 
  }

}

/* For larger screens */
@media (min-width: 769px) {
  header nav {
    justify-content: center; /* Center the nav on large screens */
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    align-items: center;
  }

  .hamburger {
    display: none; /* Hide hamburger on large screens */
  }
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}