  @media (max-width: 768px) {
    #home {
      flex-direction: column; 
    }

    #home img {
      width: 350px;
      height: 350px;
    }

    .name-title {
      font-size: 2em; /* Shrink font size for smaller screens */
    }
  
    #home p {
      font-size: 1em; /* Shrink paragraph font size */
    }

    header nav ul {
      flex-direction: column;
      gap: 0.5em;
    }
    table,
    th,
    td {
      font-size: 0.9em;
    }
  }
  
  @media (max-width: 480px) {
    #home img {
      width: 400px;
      height: 400px;
    }

    .name-title{
      font-size: 1.8em;
    }

    #home p {
      font-size: 0.9em;
    }
  }


  /* For large screens, show the menu */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* Hide links initially on small screens */
  }
  
  .hamburger {
    display: block; /* Show hamburger icon */
  }

  .nav-links.active {
    display: flex; 
  }

}

/* For larger screens */
@media (min-width: 769px) {
  header nav {
    justify-content: center; /* Center the nav on large screens */
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    align-items: center;
  }

  .hamburger {
    display: none; /* Hide hamburger on large screens */
  }
}
