  @media (max-width: 768px) {
    #home {
      flex-direction: column; 
    }

    #home img {
      width: 350px;
      height: 350px;
    }

    .name-title {
      font-size: 2em; /* Shrink font size for smaller screens */
    }
  
    #home p {
      font-size: 1em; /* Shrink paragraph font size */
    }

    header nav ul {
      flex-direction: column;
      gap: 0.5em;
    }
    table,
    th,
    td {
      font-size: 0.9em;
    }
  }
  
  @media (max-width: 480px) {
    #home img {
      width: 400px;
      height: 400px;
    }

    .name-title{
      font-size: 1.8em;
    }

    #home p {
      font-size: 0.9em;
    }
  }


  /* For large screens, show the menu */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* Hide links initially on small screens */
  }
  
  .hamburger {
    display: block; /* Show hamburger icon */
  }

  .nav-links.active {
    display: flex; 
  }

}

/* For larger screens */
@media (min-width: 769px) {
  header nav {
    justify-content: center; /* Center the nav on large screens */
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    align-items: center;
  }

  .hamburger {
    display: none; /* Hide hamburger on large screens */
  }
}

/* animation for nav-links */
@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.nav-links {
  animation: slideIn 0.8s ease-out;
}

/* fade in effect in heading */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* fade in effect in project */
@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* make the contact form dissapear */
@keyframes fadeOutForm {
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

